/* 引入霞鹜文楷 */
@font-face {
    font-family: 'LXGW WenKai Screen';
    src: url('/fonts/lxgw-wenkai-screen-v1.245-subset-gb2312.woff2') format('woff2');
    font-display: swap;
}

/* 全局应用字体 */
* {
    font-family: "LXGW WenKai Screen", sans-serif;
}